<h1>Teams</h1>

<ul class="thumbnails">

<% @teams.each do |team| %>

 <li class="span3">

   <div class="thumbnail">
    <img src="<%= team.logo %>" height="400" width="300">
  
    <h3><%= team.name %></h3>
    <p><%= team.description %></p>
    <p>Hacks: $hacknames</p>
  </div>

 </li>

<% end %>

</ul>

<br />

<%= link_to 'New Team', new_team_path %>
