<div class="hero-unit clearfix">

<div class="pull-left">

<img src="<%= @team.logo %>" height="500" width="400" alt="" style="margin:0 20px 20px 0">

</div>

<h2><%= @team.name %></h2>

<p><%= @team.description %></p>

<p>Hacks: </p>

<%= link_to 'Edit', edit_team_path(@team) %>

</div>