@import "bootstrap";
body { padding-top: 60px; }
@import 'bootstrap-responsive';

/* mixins, variables, etc. */

$lightest: #fff;

/* universal */

   html {
   overflow-y: scroll;
   }

   body {
   padding-top: 60px;
   background-color:#ececec;
   }

   section {
   overflow: auto;
   }

   textarea {
   resize: vertical;
   }

  .center {
    text-align: center;
    h1{
      margin-bottom: 10px;
    }
  }

  /* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    }

h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   }

h2 {
   font-size: 1.7em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   font-weight: normal;
   color: #999;
   }

   p{
     font-size: 0.8em;
   }

  /* header */

#logo {
   top:5px;
   float: left;
   margin: 0 10px 0 0;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding: 9px 0 0 0;
   font-weight: bold;
   line-height: 1;
   a{
       color:#fff;
    }
    &:hover{
      color: #fff;
      text-decoration: none; 
    }
 }

#sidebar{
	background-color: #F5F5F5;
	padding:10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayDarker;
  color: #999;
  
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  

  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
.hero-unit {
  padding:20px;
  margin-bottom:20px;
  background-color: $lightest;
}
.hero-unit p {
  font-size:16px;
  line-height:20px;
}
.thumbnail{
  box-shadow: 10px 10px 5px #888;
  background-color:$lightest;
}
.breadcrumb{
    background-color:#fff;
}

#hacks .porder {
  border-top-right-radius:5px;
  position:absolute;
  top:0;
  right:0;
  float:right;
  height:20px;
  width:30px;
  overflow:hidden;
  padding-top:5px;
  text-align:center;
}

.highlight {
  background-color:#ed2590;
  color:white;
}

#action_btns a.btn{
  color:#fff;
}
body a:hover{
background-color:#fff;
color:#000;
}