<h2>My Events</h2>

<table>
  <tr>
    <th>Event</th>
    <th>city</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.city %></td>
      <td>  <div>
    <a href="<%= event.url %>" class="btn btn-primary btn-small clearfix">Unregister</a></div></td>
      <td><%#= link_to "Show", attendances %></td>
      <td><%#= link_to "Edit", edit_attendances_path(attendances) %></td>
      <td><%#= link_to "Destroy", attendances, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%#= link_to "New Attendances", new_attendances_path %></p>
