

<ul class="thumbnails">

<% @teams.each do |team| %>

 <li class="span3">

   <div class="thumbnail">
  <% turl = url_builder("/teams/#{team.id}/" + prep_string_for_url(team.name) + '/') %>
  <%= link_to image_tag(team.logo, alt: "#{team.name} logo", height: 400, width: 300), turl %>
  <h3><%= link_to "#{team.name}", turl %></h3>
    <p><%= team.description %></p>
    <p>Hacks: $hacknames</p>
  </div>

 </li>

<% end %>

</ul>